@model Data.DTOs.ResetPasswordDTO
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}

<div class="login-page">
    <div class="login-box ">

        <div class="login-logo">

            <a href="/"><b>Notes</b>Manager</a>

        </div>

        <!-- /.login-logo -->

        <div class="card card-outline card-primary">

            <div class="card-body login-card-body">

                <p class="login-box-msg">You are only one step a way from your new password, recover your password now.</p>

                <form asp-action="ResetPassword" method="post">
                                                              @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    <input type="hidden" asp-for="Email" />

                    <input type="hidden" asp-for="Token" />

                    <div class="input-group mb-3">

                        <input type="password" class="form-control" placeholder="Password" asp-for="Password">

                        <div class="input-group-append">

                            <div class="input-group-text">

                                <span class="fas fa-lock"></span>

                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-12">

                            <button type="submit" class="btn btn-primary btn-block">Change password</button>

                        </div>

                        <!-- /.col -->

                    </div>

                </form>

            </div>

            <!-- /.login-card-body -->

        </div>
    </div>
</div>
